footer{
    background: none !important;
    section{
        div{
            form{
                input , button {
                    outline: none;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    footer{
        section{
            .form-div{
                width: 100% !important;
                form{
                    width: 100% !important;
                    input , button{
                        width: 100% !important;
                    }
                }
            }
        }
        .footer-menu{
            div{
                width: 100% !important;
                padding: 2vh 5vw !important;
                text-align: center !important;
                position: relative;
            }
            .footer-div::before{
                content: "";
                position: absolute;
                bottom: 1vh !important;
                width: 90%;
                height: 2px;
                background-color: black;
            }
        }
    }
}